.blog-content {
    padding: 30px;
}

.blog-content h3 {
    text-align: center;
    padding: 20px 0;
}

.blog-content .date {
    text-align: center;
    color:cadetblue;
    padding: 10px 0;
}

.blog-content p {
    text-indent: 2em;
}
